<div class="main-wrapper">

  <h3>Temperature and light intensity charts</h3>

  <div class="calendars">
    <div class="p-field p-col-12 p-md-4 calendar">
      <label for="dateFrom">From</label>
      <p-calendar id="dateFrom" [(ngModel)]="calendarDateFrom" (onClose)="onClose()" [showTime]="true"
                  dateFormat="dd.mm.yy"></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4 calendar">
      <label for="dateTo">To</label>
      <p-calendar id="dateTo" [(ngModel)]="calendarDateTo" (onClose)="onClose()" [showTime]="true"
                  dateFormat="dd.mm.yy"></p-calendar>
    </div>
  </div>

  <p *ngIf="noData">No data for chosen dates range</p>
  <p-message *ngIf="error" severity="error" text="Could not load the data"></p-message>

  <div *ngIf="!noData" class="chart">
    <p-chart type="line" [data]="basicData" [options]="multiAxisOptions"></p-chart>
  </div>

</div>
